<mat-drawer-container class="root">
  <mat-drawer #drawer>
    <app-search></app-search>
  </mat-drawer>
  <mat-drawer-content>
    <app-map></app-map>
    <div id="welcome" *ngIf="welcome">{{welcome}}</div>
    <div class="btnContainer">
      <div [ngClass]="{'btn':true,'login':!isLogined,'logined':isLogined}" (click)=onLogin()></div>
      <div [ngClass]="{'btn':true,'vec-map':isVecMap,'img-map':!isVecMap}" (click)=onMapLayerChange()></div>
      <div class="btn search" (click)=onSearch()></div>
      <div class="btn panorama"></div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<ng-image-fullscreen-view *ngIf="images" [images]="images" [imageIndex]="imageIndex" [show]="showFlag" [isShowBtnDelete]="user!=null || user!=undefined"
  (close)="closeEventHandler()" (del)=onDel($event)></ng-image-fullscreen-view>
